/* 各个网页 相同模块 的 重复样式 */

/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1240px;
}


/* shortcut 快捷导航  */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  height: 52px;
  /* background-color: pink; */
}

.shortcut ul {
  display: flex;
  justify-content: flex-end;
  line-height: 52px;
}

.shortcut li a {
  padding: 0 15px;
  border-right: 1px solid #999;
  font-size: 14px;
  color: #fff;
}

.shortcut li .login,
.shortcut li a:hover {
  color: aquamarine;
}

.shortcut li:last-child a {
  border-right: 0;
}

.shortcut li a .iconfont {
  margin-right: 4px;
  vertical-align: middle;
}


/* header 头部 */
.header {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 88px;
  /* background-color: pink; */
}

/* logo */
.header .logo {
  margin-right: 40px;
  width: 200px;
  height: 88px;
}

.logo a img {
  display: block;
  width: 200px;
  height: 88px;
  /* background-image: url(../images/logo.png); */
}


/* 导航 */
.nav {
  margin-top: 33px;
  margin-right: 28px;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin-right: 47px;
}

.nav li a {
  padding-bottom: 10px;
  /* background-color: yellow; */
}

.nav li a:hover {
  border-bottom: 2px solid #27ba9b;
  color: #27ba9b;
}



/* 搜索 */
.seacrh {
  display: flex;
  margin-top: 33px;
  margin-right: 45px;
  width: 170px;
  height: 34px;
  border-bottom: 2px solid #f4f4f4;
}

/* iconfont */
.seacrh .icon-search {
  margin-right: 8px;
  width: 18px;
  color: #ccc;
}

.seacrh input {
  /* 浏览器优先生效 input 标签的默认宽度，所以 flex: 1; 不生效 */
  /* 解决办法：重置 input 默认宽度 width: 0; */
  flex: 1;
  width: 0;
  border: 0;
  color: #ccc;
  /* 去掉 表单控件 的焦点框 */
  outline: none;
}

.seacrh input::placeholder {
  font-size: 16px;
  color: #ccc;
}


/* 购物车 */
.cart {
  position: relative;
  margin-top: 33px;
  cursor: pointer;
}

.cart .iconfont {
  font-size: 24px;
}

.cart i {
  position: absolute;
  top: 1px;
  /* right 定位右对齐：如果文字多了，向左撑开，可能盖住其他的内容 */
  /* right: 1px; */
  /* left 定位左对齐 ：文字多了，向右撑开 */
  left: 15px;
  padding: 0 6px;
  /* width: 20px; 后续 i标签 中的数字会变 ，所以就别给宽度了 */
  height: 15px;
  background-color: #e26237;
  border-radius: 8px;
  font-size: 14px;
  color: #fffeee;
  line-height: 15px;
  font-style: normal;
}




/* 新鲜好物 goods区域 */

/* 标题 -- 公共样式 */
.title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 42px;
  /* background-color: pink; */
}

.title .left {
  display: flex;
}

.title .left h3 {
  margin-right: 35px;
  font-size: 30px;
  font-weight: 400;
}

/* 父级 设置 弹性布局 后 ，子级想 侧轴方向对齐 align-self */
.title .left p {
  align-self: flex-end;
  color: #a1a1a1;
}

/* 查看全部，用 div 的原因 是为了应付 将来东西多时 */
.title .right .more {
  line-height: 42px;
  color: #a1a1a1;
}

.title .right .more .iconfont {
  margin-left: 3px;
  vertical-align: middle;
}



/* 好物内容 -- 公共样式 */
.bd ul {
  display: flex;
  justify-content: space-between;
}

.bd li {
  width: 304px;
  height: 404px;
  background-color: #EEF9F4;
}

.bd li .pic,
.bd li .pic img {
  width: 304px;
  height: 304px;
}

.bd li .txt {
  text-align: center;
}

.bd .txt h4 {
  margin-top: 18px;
  margin-bottom: 9px;
  font-size: 20px;
  font-weight: 400;
}

/* 新鲜好物 独有的，单独设置 */
.good .bd p {
  font-size: 18px;
  color: #AA2113;
}

.good .bd p span {
  margin-left: 3px;
  font-size: 22px;
}





















/* footer 底部  */
.footer {
  height: 580px;
  background-color: #333;
}

/* 服务 */
.service {
  padding: 60px 0;
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}

.service ul {
  display: flex;
  justify-content: space-evenly;
}

.service li {
  display: flex;
  margin-right: 20px;
  width: 190px;
  height: 58px;
  /* background-color: yellow; */
}

.service li h5 {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-image: url(../images/sprites.png);
}

.service li p {
  line-height: 58px;
  font-size: 28px;
  color: #ebebeb;
}

.service li:nth-child(2) h5 {
  width: 58px;
  height: 58px;
  background-position: -64px 0px;
}

.service li:nth-child(3) h5 {
  width: 58px;
  height: 58px;
  background-position: -130px 0px;
}

/* 帮助中心 */
.help {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  height: 300px;
  /* background-color: pink; */
}

.help .left {
  display: flex;
}

.help .left dl {
  margin-right: 84px;
}

/* 去掉 最后一个 dl 的 右外边距 */
.help .left dl:last-child {
  margin-right: 0;
}

/* left */
.help .left dt {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.help .left dd {
  margin-bottom: 10px;
}

.help .left dd a {
  /* font-size: 16px; 基本样式已经定义了 */
  color: #fff;
}

/* right */
.help .right ul {
  display: flex;
  color: #fff;
}

.help .right ul li:first-child {
  margin-right: 55px;
}

.help .right .pic {
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

.help .right .pic img {
  width: 120px;
  height: 120px;
}

.help .right li p {
  text-align: center;
}


/* 版权 （剩下都给版权） */
.copyright {
  text-align: center;
}

.copyright p {
  color: #fff;
  margin-bottom: 10px;
}

.copyright p a {
  margin: 0 10px;
}

.copyright p a {
  color: #fff;
}